# main Dependencies(từ package.json)
@reduxjs/toolkit==2.8.2
axios==1.9.0
lucide-react==0.511.0
next==15.2.2
react==19.1.0
react-dom==19.1.0
react-hot-toast==2.5.2
react-redux==9.2.0
socket.io-client==4.8.1

# Dev Dependencies(từ package.json)
@eslint/eslintrc==3.3.1
@tailwindcss/postcss==4.1.10
eslint==9.28.0
eslint-config-next==15.2.2
tailwindcss==4.1.10